/*
 * Body
 */

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

#ajax_content {
    /* width: 940px; */
    /* min-height: 750px; */
    padding: 20px 0 0 0;
    /* margin-left: auto;
    margin-right: auto;
    overflow: auto; */
}

/*
 * Navigation Bar
 */

#header {
    /* width: 980px; */
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1A243E;
}

li {
    float: left;
}

li a {
    cursor: pointer;
    display: inline-block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .active, .sortable:hover {
    background-color: #757575;
    cursor: pointer;
}

/*
 * Browse Page
 */
.selectelement_label, input[type="checkbox"]{
    display: inline;
}

.selectelement_label_margin {
    margin-left: 10px;
}

.filter {
    background: #e2e3e5;
}

.center {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

#max_a_jahr_filter, #min_a_jahr_filter, #max_h_jahr_filter, #min_h_jahr_filter,
#max_h_preis_filter, #min_h_preis_filter
{
    width: 40px;
}

.highlight {
    font-weight: bold;
    color: #7e9ff0;
}

#tableContainer {
    width: 96%;
    max-height: 480px;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#tableContainer thead {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    table-layout: fixed; 
    width:100%;
}

td, th {
    text-align: left;
    padding: 2px 6px;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}

td {
  box-shadow: inset 1px -1px #FFF;
}

th {
  box-shadow: inset 1px 0 #FFF;
  background: #1A243E;
  color: #FFF;
  font-weight: bold;
}

input[type="text"] {
    box-sizing: border-box;
    width: 100%;
}

tr {
    background: #e2e3e5;
}

tr:hover {
    background-color: #ccc;
}

#device_column {
    width: 130px;
}

#hersteller_column {
    width: 90px;
}

#ar_vs_vr_column {
    width: 60px;
}

#h_jahr_column {
    width: 85px;
}

#display_column {
    width: 110px;
}

#doi_column {
    width: 240px;
}

#autor_column {
    width: 293px;
}

#titel_column {
    width: 350px;
}

#a_jahr_column {
    width: 85px;
}

#journal_column {
    width: 240px;
}

#typ_column {
    width: 85px;
}

#quelle_column {
    width: 55px;
}

#preis_column {
    width: 85px;
}